/* Atur Padding agar tidak tertutup Navbar Fixed */
body {
  padding-top: 56px;
}

/* Hero Section Style */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://source.unsplash.com/1600x900/?office,computer");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Tinggi layar penuh */
}

/* Foto Profil Bulat */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Membuat gambar bulat */
  border: 5px solid white;
  object-fit: cover;
}

/* Smooth Scrolling saat klik navbar */
html {
  scroll-behavior: smooth;
}
